@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&subset=cyrillic');
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-bold-webfont.eot?6358198');
  src: url('../fonts/lato-bold-webfont.eot?6358198#iefix') format('embedded-opentype'),
  url('../fonts/lato-bold-webfont.woff2?6358198') format('woff2'),
  url('../fonts/lato-bold-webfont.woff?6358198') format('woff'),
  url('../fonts/lato-bold-webfont.ttf?6358198') format('truetype'),
  url('../fonts/lato-bold-webfont.svg?6358198#lato-bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-heavy';
  src: url('../fonts/lato-heavy-webfont.eot?6358198');
  src: url('../fonts/lato-heavy-webfont.eot?6358198#iefix') format('embedded-opentype'),
  url('../fonts/lato-heavy-webfont.woff2?6358198') format('woff2'),
  url('../fonts/lato-heavy-webfont.woff?6358198') format('woff'),
  url('../fonts/lato-heavy-webfont.ttf?6358198') format('truetype'),
  url('../fonts/lato-heavy-webfont.svg?6358198#lato-heavy-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular-webfont.eot?6358198');
  src: url('../fonts/lato-regular-webfont.eot?6358198#iefix') format('embedded-opentype'),
  url('../fonts/lato-regular-webfont.woff2?6358198') format('woff2'),
  url('../fonts/lato-regular-webfont.woff?6358198') format('woff'),
  url('../fonts/lato-regular-webfont.ttf?6358198') format('truetype'),
  url('../fonts/lato-regular-webfont.svg?6358198#lato-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?31226653');
  src: url('../fonts/fontello.eot?31226653#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?31226653') format('woff2'),
       url('../fonts/fontello.woff?31226653') format('woff'),
       url('../fonts/fontello.ttf?31226653') format('truetype'),
       url('../fonts/fontello.svg?31226653#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              true!default;
$use-table:                    false!default;
$use-color-table:              false!default;
$use-column-table:             true!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    false!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               true!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";
