#form-id.mfp-hide.white-popup
    a.close.popup-modal-dismiss.hidden__sm.hidden__xs(href="#"): img(src="images/close.png", alt="")
    a.close.popup-modal-dismiss.visible__sm.visible__xs(href="#"): img(src="images/close-m.png", alt="")
    form.sendmail(action="" method="method")
        h2 Свяжитесь с нами
            small Для заказа наших услуг и прочих вопросов,заполните заявку и мы с Вами свяжемся
        .form__group
            label ваше Имя:
            input.control(type="text", name="name")
        .form__group
            label ваш телефон:
            input.control(type="text", name="phone")
        .form__group
            label Время звонка:
            .control-multiple
                label c
                input.control(type="text", name="date", placeholder="15:00")
                label до
                input.control(type="text", name="date", placeholder="19:00")
        .form__group.form__group--flex
            i * Вся вводимая Вами информация конфиденциальна #[br] и не подлежит разглашению третьим лицам
            button.btn.btn--outlined(type="submit") Отправить
#case.mfp-hide.case-popup
    a.close.popup-modal-dismiss(href="#")
        span Закрыть
        img(src="images/close-p.png", alt="")
    .case
        h1 Малые #[br] архитектурные формы
        .slider-popup
            .case-inner
                .case__img
                    img(src="images/case-1.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
            .case-inner
                .case__img
                    img(src="images/case-2.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
            .case-inner
                .case__img
                    img(src="images/case-3.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
            .case-inner
                .case__img
                    img(src="images/case-1.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
            .case-inner
                .case__img
                    img(src="images/case-2.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
            .case-inner
                .case__img
                    img(src="images/case-3.jpg", alt="alt")
                .case__desc
                    p Натуральный камень используется как для внутренних, так и для наружных работ. Естественно, что для оформления фасадов потребуются одни материалы, а для отделки интерьеров – совсем другие.
        .slider-arrow
            .slider-arrow-left
            .slider-num
                span.active 1
                | /6
            .slider-arrow-right
            
