.is-col__lg-10.centered-block
    .main-form
        .tabs
            ul.tabs__caption
                li.active Обратный звонок / вопрос
                li Запрос на расчет
            .tabs__content.active
                form.sendmail(action="", method="post")
                    .is-col__xl-7.is-col__md-8.is-col__xs-12.centered-block
                        .text__lg--center
                            h2 Свяжитесь с нами
                                small Для заказа наших услуг и прочих вопросов,заполните заявку и мы с Вами свяжемся
                        .is-row
                            .is-col.is-col__xs-12
                                .form__group
                                    label ваше Имя:
                                    input.control(type="text", placeholder="Олег", name="name",  required)
                                .form__group
                                    label ваш телефон:
                                    input.control(type="text", placeholder="+7(___) ___-__-__", name="phone",  required)
                        .is-row.between__xs.middle__xs
                            .is-col.is-col__lg-8.is-col__sm-7.is-col__xs-12
                                .form__group
                                    i * Вся вводимая Вами информация конфиденциальна и не подлежит разглашению третьим лицам
                            .is-col.is-col__lg-4.is-col__sm-5.is-col__xs-12.end__xs.first__xs.last__md
                                .form__group
                                    button.btn.btn--outlined(type="submit") Отправить
            .tabs__content
                form.sendmail(action="", method="post")
                    .text__lg--center
                        h2 Свяжитесь с нами
                            small Для заказа наших услуг и прочих вопросов,заполните заявку и мы с Вами свяжемся
                    .is-row
                        .is-col.is-col__md-7.is-col__xs-12
                            .form__group
                                label ваше Имя:
                                input.control(type="text", placeholder="Олег", name="name",  required)
                            .form__group
                                label ваш телефон:
                                input.control(type="text", placeholder="+7(___) ___-__-__", name="phone",  required)
                            .form__group
                                label ваша почта:
                                input.control(type="email", name="email", placeholder="Info@mail.ru",  required)
                        .is-col.is-col__md-5.is-col__xs-12.is-flex.is-flex-column
                            .form__group
                                textarea.control(name="text", placeholder="Доп. информация",  required)
                            .form__group.form__group--top
                                .dropbox
                                    input.input__file-js(type="file", multiple)
                                    .dropbox__inner
                                        i.icon-attach
                                        .input__text-js
                                            .txt Прикрепить файл
                                            span не более 15мб
                    .is-row.between__xs.middle__xs
                        .is-col.is-col__lg-9.is-col__md-8.is-col__sm-7.is-col__xs-12
                            .form__group
                                i * Вся вводимая Вами информация конфиденциальна и не подлежит разглашению третьим лицам
                        .is-col.is-col__lg-3.is-col__md-4.is-col__sm-5.is-col__xs-12.end__xs.first__xs.last__md
                            .form__group
                                button.btn.btn--outlined(type="submit") Отправить
            
