//
// Modules -> Forms
// --------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: block;
  max-width: 100%;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  font-family: $base-font-family;
  @include screen-lg(font-size, 14px);
}


input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: 9px 0;
  font-size: 14px;
  font-weight: 700;
  font-family: $base-font-family;
  text-transform: uppercase;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: none;
  border-bottom: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s);

  @include screen-lg(font-size, 20px);

  &:hover {
    border-color: $black;
  }

  @include form-control-focus;

  @include placeholder;

  &:invalid {
    // border: 1px solid #aa4343;
  }

  &:valid {
    border: 1px solid $input-border-focus;
    padding-left: 10px;
    padding-right: 10px;
  }

}

// Reset height for `textarea`s
textarea.control {
    height: 48px;
    resize: none;
    font-family: 'lato-regular';
    font-weight: 400;
    text-transform: none;
    @include transition();
    &:valid,
    &:focus {
      height: 160px;
    }
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;
  &:focus {
    background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
  }
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
  height: 50px;
  font-size: 16px;
  font-family: 'lato-regular';
  text-transform: none;
  font-weight: 400;
}


.form__group {
  margin-bottom: $form-group-margin-bottom / 2;
  @include screen-lg(margin-bottom, $form-group-margin-bottom);
  &--flex {
    display: flex;
    justify-content:space-between;
  }
  &--top {
      margin-top: auto;
  }
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    padding-left: 36px;
    margin: 0;
    cursor: pointer;
    line-height: 1.6;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      display: block;
      width: 25px;
      height: 25px;
      border: 1px solid $gray-darken-2;
      background-color: $input-bg;
    }
  }
}

.checkbox {
  input[type="checkbox"] {display: none;}
}
.radio {
  input[type="radio"] {display: none;}
}
.checkbox label{
  &:after {
    @include border-radius(5px);
  }
}
.radio label {
  &:after {
    @include border-radius(50%);
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: url('../images/icons/icon-checkbox.png') center center no-repeat, $input-bg;
}
.radio input[type="radio"]:checked + label:after {
  background: url('../images/icons/icon-radio.png') center center no-repeat, $input-bg;
}


.radio + .radio,
.checkbox + .checkbox {
  margin-top: 20px;
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}

@if $use-input-group == true {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    &[class*="cell-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .input-group--addon,
  .input-group--btn,
  .input-group .control {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input-group--addon,
  .input-group--btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group--addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $border-radius-base;

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  // Reset rounded corners
  .input-group .control:first-child,
  .input-group--addon:first-child,
  .input-group--btn:first-child > .btn,
  .input-group--btn:first-child > .btn-group > .btn,
  .input-group--btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input-group--addon:first-child {
    border-right: 0;
  }
  .input-group .control:last-child,
  .input-group--addon:last-child,
  .input-group--btn:last-child > .btn,
  .input-group--btn:last-child > .btn-group > .btn,
  .input-group--btn:first-child > .btn:not(:first-child),
  .input-group--btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input-group--addon:last-child {
    border-left: 0;
  }

  .input-group--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn-group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn-group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}
