//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding: 40px 0;
  background: $black-light;
  text-transform: uppercase;
  @media screen and (min-width: $screen-tablet) {
    padding: 70px 0;
  }
  @media screen and (min-width: $screen-desktop) {
    padding: 110px 0;
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__menu {
    width: 60%;
    @extend .hidden__xs;
    @extend .hidden__sm;
    @media screen and (min-width: $screen-desktop) {
      width: 71%;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        a {padding: 0;color: rgba(255, 255, 255, 0.3);}
    }
  }
  &__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: 'lato-heavy';
    margin-bottom: 40px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 70px;
      justify-content: flex-end;
      width: 35%;
    }
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 110px;
      width: 29%;
    }
    &--phone {
        span {
            font-size: 16px;
        }
        a {color: #9f9f9f;}
    }
    &--link {
        margin-left: 25px;
        a {color: #ffffff;}
    }
  }
  &__studio {
    width: 50%;
    text-align: right;
    color: #797979;
    font-size: 9px;
    font-family: 'lato-bold';
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: 10px;
    }
    a {
        color: #fff;
    }
  }
  &__copyright {
    width: 50%;
    color: #333333;
    font-size: 7px;
    font-family: 'lato-bold';
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: 10px;
    }
  }
}
