//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
    top: 0;left: 0;right: 0;
    z-index: 20;
    font-size: $font-size-tiny;
    color: $white-lighten;
    text-transform: uppercase;
    @include transition();

    position: fixed;
    padding: 11px 0;
    background-color: $black-darken;

    @media screen and (min-width: $screen-adaptive-nav) {
        padding: 20px 0 0;
        position: relative;
        background-color: transparent;
    }
    @include screen-lg(padding, 40px 0 0);
    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__logo {
        font-size: 20px;
        font-family: $base-font-family;
        font-weight: 700;
        @media screen and (min-width: $screen-adaptive-nav) {
            font-size: 29px;
            width: 20%;
            margin-top: 5px;
        }
        a {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            color: #6c6c6c;
            @media screen and (min-width: $screen-adaptive-nav) {
                color: #000;
                flex-direction: column;
            }
        }
        span {
            font-size: 6px;
            line-height: 1.6;
            display: block;
            letter-spacing: 1px;
            font-family: 'lato-bold';
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid #6c6c6c;
            @media screen and (min-width: $screen-adaptive-nav) {
                font-size: 8px;
                border-left: none;
                margin-left: 0;
                padding-left: 0;
                margin-top: 5px;
            }
        }
    }
    &__menu {
        display: none;
        .main-nav__item {
            display: block;
        }
        @include screen-lg(width, 30%);
        @media screen and (min-width: $screen-adaptive-nav) {
            display: block;
        }
        &.fixed {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 11;
            background-color: rgba(0,0,0,0.9);
            .main-nav__close {
                display: block;
            }
            .main-nav {
                height: 100%;
                display: flex;
                justify-content: center;
                padding: 5%;
                align-items: center;
                flex-direction: column;
                a {color: #fff;}
                @media screen and (min-width: $screen-adaptive-nav) {
                    padding: 0 20%;
                    flex-direction: row;
                    justify-content: space-between;
                    // a {color: #262626;}
                }
            }
            nav {
                height: 100%;
            }
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        font-family: 'lato-bold';
        margin-top: 9px;
        @include screen-lg(width, 40%);
        &--line {
            width: 140px;
            height: 1px;
            margin-top: 5px;
            background-color: #000;
            align-self: flex-start;
        }
        &--phone {
            margin: 0 20px;
            span {
                font-size: $base-font-size;
            }
        }
        &--link {

        }
    }
    &__search {
        margin-top: 10px;
        letter-spacing: 1px;
        font-family: 'lato-bold';
    }

    &--main {
        background-color: $black-darken;
        @media screen and (min-width: $screen-adaptive-nav) {
            position: absolute;
            background-color: transparent;
        }
        a {color: $white-lighten;}
        .page-header__contacts {
            &--line {
                background-color: #ffffff;
            }
        }
        .page-header__logo {
            a {
                @media screen and (min-width: $screen-adaptive-nav) {
                    color: #fff;
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        padding: 11px 0;
        background-color: $black-darken;
        a {color: $white-lighten;}
        .main-nav__toggle {
            display: flex;
            padding-left: 20px;
            @media screen and (min-width: $screen-adaptive-nav) {
                border-left: 1px solid #404040;
            }
        }
        .page-header {
            &-inner {
                align-items: center;
            }
            &__search,
            &__contacts--line {
                display: none;
            }
            &__menu {
                // display: none;
                top: -100%;
                position: fixed;
                right: 0;
                left: 0;
                width: 100%;
                @include transition();
            }
            &__menu {
                &.fixed {
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    // display: block;
                    z-index: 11;
                    background-color: rgba(0,0,0,0.9);
                    .main-nav__close {
                        display: block;
                    }
                    .main-nav {
                        height: 100%;
                        display: flex;
                        // justify-content: space-between;
                        padding: 0 20%;
                        align-items: center;
                        @include screen-md(justify-content, space-between);
                    }
                    nav {
                        height: 100%;
                    }
                }
            }
            &__contacts {
                margin-top: 0;
                justify-content: space-between;
                &--link {
                    margin-right: 20px;
                }
            }
            &__logo {
                margin-top: 0;
                width: auto;
                a {
                    flex-direction: row;
                    color: #6c6c6c;
                }
                span {
                    margin-left: 10px;
                    padding-left: 10px;
                    margin-top: 0;
                    border-left: 1px solid #6c6c6c;
                }
            }
        }
    }
}


//
// Main title
//
.title {
    margin-top: 0;
}

.search {
    &-body {
        //display: none;
        //opacity: 0;
        background: #fff;
        position: absolute;
        top: -200%;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 21;
        padding: 80px;
        @include transition();
        @include screen-lg(padding, 150px 100px 80px);
        &.active {
            top: 0;
            //opacity: 1;
            //z-index: 21;
        }
        .btn {
            height: 50px;
        }
    }
    &-close {
        position: absolute;
        top: 80px;
        right: 80px;
        cursor: pointer;
    }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
