//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

//
// Main container
//
.page-main {
    padding: 20px 0;
    .page-header--main + & {
        padding: 0;
    }
}

.main {
    &-slider {
        color: $white-lighten;
        padding: 150px 0 50px;
        position: relative;
        @include screen-md(padding, 239px 0);
        @include screen-lg(padding, 322px 0);
    }
    &-catalog {
        @include screen-lg(padding, 100px 0);
   }
}

.slider {
    &-name {
        position: absolute;
        //bottom: 115px;left: 40px;
        bottom: -131px;
        left: -60px;
        text-transform: uppercase;
        font-family: 'lato-heavy';
        transform: rotate(-90deg);
        @extend .hidden__xs;
        @extend .hidden__sm;
        @media screen and (min-width: $screen-desktop) {
            bottom: -209px;
        }
    }
    &-more {
        position: absolute;
        bottom: -186px;
        left: 0;right: 0;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        font-family: 'lato-heavy';
        a {color: $white-lighten;}
        i {
            &:before {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-name: slideDownX;
            }
        }
        @extend .hidden__xs;
        @extend .hidden__sm;
        @media screen and (min-width: $screen-desktop) {
            bottom: -266px;
        }
    }
    &-inner {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        align-items: stretch;
        position: relative;
        @include screen-md(justify-content, space-between);
        @include screen-md(flex-wrap, nowrap);
        &__title {
            width: 100%;
            align-self: center;
            @include screen-lg(align-self, flex-start);
            h1 {margin: 0 0 35px;line-height: 1.1;}
            &--sm {
                margin-top: auto;
                h5 {line-height: 1.6;}
            }
            @media screen and (min-width: $screen-adaptive-nav) {
                width: auto;
            }
        }
        &__info {

        }
        &__forwhat {
            align-self: flex-end;
            @media screen and (min-width: $screen-adaptive-nav) {
                width: 310px;
            }
        }
            &__container {
                padding: 10px 25px;
                background-color: #000000;
                height: 100%;
                display: flex;
                flex-direction: column;
                @media screen and (min-width: $screen-adaptive-nav) {
                    padding: 50px 40px 35px;
                }
            }
            &__txt {
                color: rgba(255,255,255,0.3);
                font-size: 10px;
                text-transform: uppercase;
                font-family: 'lato-heavy';
                margin-bottom: 30px;
            }
        &__info {
            max-width: 320px;
            @include screen-lg(max-width, 500px);
        }
            &__line {
                width: 53px;
                height: 5px;
                background-color: #ffffff;
                &--sm {
                    width: 47px;
                    height: 1px;
                    background-color: rgba(255,255,255,0.15);
                }
            }
            &__desc {
                margin: 60px 0;
                font-size: 16px;
                @include screen-lg(font-size, 24px);
            }
            &__list {
                display: flex;
                align-items: stretch;
                text-transform: uppercase;
                margin-left: -20px;
                font-family: 'lato-heavy';
                @include screen-lg(margin-left, -35px);
                &-item {
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px;
                    @include screen-lg(padding, 0 35px);
                    &:last-child {padding-right: 0;}
                    & + & {
                        border-left: 1px solid $white-lighten;
                    }
                    .title {
                        font-size: 8px;
                        margin-bottom: 5px;
                        @include screen-lg(font-size, 12px);
                    }
                    .desc {
                        font-size: 35px;
                        margin-top: auto;
                        line-height: 1;
                        @include screen-lg(font-size, 54px);
                        span {
                            font-size: 7px;
                            @include screen-lg(font-size, 11px);
                        }
                        &--sm {
                            font-size: 17px;
                            @include screen-lg(font-size, 26px);
                        }
                    }
                }
            }
    }
}

.catalog {
    &-title {
       font-size: 35px;
       text-transform: inherit;
       font-style: italic;
       margin-bottom: 50px;
       margin-top: 0;
       @include screen-lg(font-size, 54px);
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (min-width: $screen-adaptive-nav) {
            flex-wrap: nowrap;
        }
        &__col {
            width: 100%;
            @include screen-md(width, 47%);
            @include screen-lg(width, auto);
        }
    }
    &-item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      @include screen-md(margin-bottom, 70px);
      @include screen-lg(margin-bottom, 120px);
      &--md {
        @include screen-md(width, 70%);
        @include screen-lg(width, auto);
      }
      &--end {
          justify-content: flex-end;
      }
      &--center {
          justify-content: center;
      }
      &-sub {
          & + & {
              padding-left: 50px;
              @media screen and (min-width: $screen-adaptive-nav) {
                  padding-left: 75px;
              }
          }
      }
      &__title {
         h5 {
             margin-bottom: 10px;
             margin-top: 20px;
             letter-spacing: 2px;
             @include screen-md(margin-bottom, 40px);
             @include screen-lg(margin-top, 30px);
         }
      }
      &__img {
         overflow: hidden;
         img {@include transition();}
         &:hover img {
            transform: scale(1.2);
         }
      }
    }
    &-slider {
        padding: 0 0 10px;
        @include screen-lg(padding, 0 0 200px);
        @media screen and (min-width: $screen-adaptive-nav) {
            padding: 0 0 60px;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            position: relative;
            flex-direction: column;
            @media screen and (min-width: $screen-adaptive-nav) {
                flex-direction: row;
            }
            &__category {
                line-height: 2.1;
                text-transform: uppercase;
                font-family: 'lato-heavy';
                margin-bottom: 20px;
            }
            &__line {
                width: 1px;
                height: 62%;
                background-color: #101010;
                position: absolute;
                left: 0;top: 110px;
                @extend .hidden__xs;
                @extend .hidden__sm;
                @include screen-lg(height, 522px);
            }
            &__desc {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: $screen-adaptive-nav) {
                    width: 60%;
                    margin: 0 5% 0 0;
                }
                @media screen and (min-width: $screen-desktop) {
                    width: 72%;
                    margin: 0;
                }
                @media screen and (min-width: $screen-xl-desktop) {
                    width: 61%;
                }
            }
            &__img {
                position: relative;
                margin: 0 10%;
                @media screen and (min-width: $screen-adaptive-nav) {
                    margin: 0;
                }
            }
            &__mat {
                position: absolute;
                width: 53px;
                right: -4%;
                bottom: -14%;
                @media screen and (min-width: $screen-adaptive-nav) {
                    width: 153px;
                    right: -8%;bottom: -26%;
                }
                @media screen and (min-width: $screen-desktop) {
                    width:auto;
                    right: 0;
                }
                img {
                    box-shadow: 0 0 122px rgba(0, 0, 0, 0.22);
                }
            }
            &__info {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                @media screen and (min-width: $screen-adaptive-nav) {
                    flex-direction: row;
                }
                @include screen-lg(margin-top, 45px);
            }
            &__title {
                @include screen-md(width, 33%);
                h3 {margin-top: 0;}
            }
            &__txt {
                @include screen-md(width, 33%);
                line-height: 2.1;
            }
        }
    }
}


.sendmail {
    max-width: 550px;
    .form__group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: 30px;
        @include screen-lg(margin-bottom, 60px);
    }
    label {
        width: 37%;
        @include screen-md(width, 25%);
        @include screen-lg(width, 36%);
    }
}
.tabs {
    position: relative;
    &__caption {
        color: #262626;
        display: flex;
        text-align: center;
        font-family: 'lato-regular';
        margin: 0;
        z-index: 12;
        position: static;
        font-size: 9px;
        text-transform: uppercase;
        @media screen and (min-width: $screen-desktop) {
            font-size: 16px;
            text-transform: none;
        }
        @media screen and (min-width: $screen-tablet) and (max-width: $screen-md-max) {

            position: absolute;
            top: $main-padding__sm * 1.1;
            right: $main-padding__sm / 1.5;
            &::before {
                content: '';
                width: 48px;
                height: 25px;
                background-color: #dfdfdf;
                display: inline-block;
                position: absolute;
                top: 0;left: 15%;right: 0;bottom: 0;
                margin: auto;
                z-index: -1;
            }

        }
        li {
            cursor: pointer;
            width: 50%;
            padding: 15px;
            position: relative;
            border-bottom:1px solid #e6e6e6;
            &.active {
                background-color: #e6e6e6;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -13px;
                    left: 0;
                    right: 0;
                    margin:auto;
                    z-index: 1;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 13px 21px 0 21px;
                    border-color: #e6e6e6 transparent transparent transparent;
                }
            }
            @media screen and (min-width: $screen-tablet) and (max-width: $screen-md-max) {
                padding: 5px 40px;
                border-bottom: none;
                width: auto;
                position: static;
                &.active {
                    font-family: 'lato-heavy';
                    background-color: transparent;
                    &::after {display: none;}
                    &::before {
                        content: '';
                        width: 23px;
                        height: 23px;
                        background-color: #101010;
                        position: absolute;
                        top: 0;bottom: 0;
                        margin: auto;
                    }
                }
                &:first-child.active {
                    &::before {
                        left: 15%;right: 20px;
                    }
                }
                &:last-child.active {
                    &::before {
                        right: -15%;left: 20px;
                    }
                }

            }
        }
    }
    &__content {
        display: none;
        padding: $main-padding__xs $main-padding__xs / 2;
        @include screen-md(padding, $main-padding__sm);
        @include screen-lg(padding, 100px $main-padding 120px);
        &.active {
            display: block;
        }
    }
}

.main-form {
    background-color: #f4f4f4;
    .sendmail {
        max-width: inherit;
    }
    i {
        font-family: $base-font-family;
    }
}

.dropbox {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: $color-type-1a;
    i {color: $color-type-1a;margin-right: 5px;}
    span {
        color: #7a7a7a;
        font-size: 8px;
        text-transform: uppercase;
    }
    &__inner {
        display: flex;
        line-height: 1.2;
    }
}
input[type="file"] {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}


.case {
    color: #fff;
    background: url("../images/slide-popup.jpg") no-repeat center center / cover;
    &-popup {
        .close {
            color: #fff;
            font-size: 10px;
            text-transform: uppercase;
            span {
                margin-right: 16px;
                display: none;
                @include screen-lg(display, inline-block);
            }
        }
    }
    h1 {
        text-transform: none;
        line-height: 0.9;
        margin-bottom: 40px;
        font-size: 36px;
        @include screen-md(font-size, 72px);
        @include screen-md(padding, 0 30px);
    }
    &-inner {
        // margin: 0 10px;
        @media screen and (min-width: $screen-adaptive-nav) {
            text-align: center;
            &.slick-slide {
                transform: scale(0.7);
                @include transition();
            }
            &.slick-center {
                transform: scale(1);
            }
        }
    }
    &__desc {
        max-width: 260px;
        margin: 20px auto;
        @media screen and (min-width: $screen-adaptive-nav) {
            max-width: 660px;
            margin: 40px auto;
            opacity: 0;
            @include transition();
            .slick-center & {
                opacity: 1;
            }
        }
    }
    &__img {
        img {
            margin: auto;
        }
    }
}
