//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding:  0;
    margin-bottom: 0;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-size: 14px;
    font-weight: 700;
    font-family: $base-font-family;
    text-transform: uppercase;

    > li {
      display: inline-block;

      a {color: $breadcrumb-color}

       + li {
         &:before {
           content: "#{$breadcrumb-separator}";
           padding: 0 5px;
           color: $breadcrumb-color;
         }
       }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}