//
// Modules -> Navs
// --------------------------------------------------

.nav {
  &__justified {
    width: 100%;

    @if $use-adaptive == true {
      li {
        float: none;
        > a {
          margin-bottom: 5px;
          text-align: center;
        }
        @media screen and (min-width: $screen-adaptive-nav) {
          display: table-cell;
          width: 1%;
          > a {
            margin-bottom: 0;
          }
        }
      }
    } @else {
      li {
        display: table-cell;
        width: 1%;
        > a {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}


.sub-nav {
  text-align: center;
  li {
    display: block;
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }

  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
      position: absolute;
      background: $gray-darken;
      top: 100%;
      right: 0;
      min-width: 200px;
      li:hover & {
        display: block;
      }
    }
  } @else {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-family: $base-font-family;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;

  &__item {
    position: relative;

  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      display: none;
    }
    &__burger {
      @media screen and (min-width: $screen-adaptive-nav) {
        margin: 0 15px;
      }
    }
    &__txt {
      color: #fff;
      font-family: 'lato-bold';
      text-transform: uppercase;
      font-size: 15px;
      padding-left: 10px;
    }
    &__toggle {
      position: relative;
      //float: right;
      //padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 24px;
        height: 2px;
        background: #fff;
        position:relative;
        transition: background 0 0.3s;
        &::before, &::after {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 2px;
          background: #fff;
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0;
        }
        &::before {
            top: -5px;
            left: -3px;
            transition-property: top, transform;
        }
        &::after {
            bottom: -5px;
            transition-property: bottom, transform;
        }
      }
      &:hover {
          .icon-bar {
              background: none;
              &::before, &::after {
                  transition-delay: 0, 0.3s;
              }
              &::before {
                  top: 0;
                  transform: rotate(45deg);
              }
              &::after {
                  bottom: 0;
                  transform: rotate(-45deg);
              }
          }
      }
    //   .icon-bar + .icon-bar {
    //     margin-top: 3px;
    //   }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media screen and (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}
