//
// Pages -> about
// ------------------------------------

.about {
  padding: 50px 0 0;
  overflow: hidden;
  &-title {
      p {
          font-family: $base-font-family;
          font-size: 14px;
          line-height: 2;
          @include screen-lg(font-size, 18px);
      }
  }
  &-main {
      margin-top: 20px;
      @include screen-md(margin-top, 60px);
      &__inner {
          display: flex;
          justify-content: space-between;
          position: relative;
          flex-wrap: wrap;
      }
      &__item {
            &--txt {
                // position: absolute;
                top: 50px;
                right: 0;
                z-index: -1;
                // @include screen-lg(position, static);
                background-color: #f5f5f5;
                padding: 10px;
                @include screen-md(position, absolute);
                @include screen-md(padding, 30px 10px 30px 100px);
                @include screen-lg(top, 70px);
                @include screen-lg(padding, 40px 40px 40px 150px);
                @include screen-xl(padding, 80px 90px 80px 180px);
            }
      }
      .name {
          font-size: 16px;
          @include screen-lg(font-size, 24px);
      }
      .post {
          font-size: 7px;
          text-transform: uppercase;
          @include screen-lg(font-size, 10px);
      }
  }
  &-history {
      padding: $main-padding__sm 0;
      @include screen-lg(padding, $main-padding 0);
      h4 {
        font-weight: 400;
        font-family: 'lato-regular';
      }
      .slick-list {
          overflow: visible;
      }
      &__slider {
          &__item {
              text-transform: uppercase;
              margin-right: 60px;
              @include screen-xl(margin-right, 80px);
          }
          &-num {
              font-size: 60px;
              font-weight: 700;
              font-family: $base-font-family;
          }
          &-year {
              font-size: 12px;
              font-weight: 700;
              font-family: $base-font-family;
          }
          &-desc {
              font-size: 11px;
              line-height: 2.3;
              margin-top: 40px;
              @include screen-md(font-size, 14px);
          }
      }
      .slider-arrow {
          position: static;
          margin-top: 40px;
          text-align: center;
          @include screen-xl(margin-top, 100px);
      }
  }
  &-opportunities {
      position: relative;
      margin: 0 -15px;
      @include screen-md(margin, 0 -30px);
      @include screen-lg(margin, 0);
      &__desc {
        color: rgba(255,255,255,0.7);
        background-color: #101010;
        padding: 20px 100px 20px 10px;
        @include screen-sm(padding, 30px 160px 30px 30px);
        @include screen-md(padding, $main-padding__sm);
        @include screen-lg(padding, $main-padding 250px $main-padding $main-padding);
        h2, p, ol, ul {
            margin-bottom: 70px;
            line-height: 2;
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            font-size: 11px;
            text-transform: uppercase;
            @include screen-lg(font-size, 16px);
        }
      }
      &__img {
        position: absolute;
        top: 80px;
        left: 80%;
        z-index: 10;
        @include screen-md(left, auto);
        @include screen-md(right, 0);
        img {
            height: 440px;
            max-width: none;
            @include screen-md(height, auto);
            @include screen-md(max-width, 100%);
        }
      }
  }
  &-blockquote {
      display: flex;
      font-size: 14px;
      line-height: 1.9;
      justify-content: flex-end;
      margin: $main-padding__sm 0;
      @include screen-lg(font-size, 18px);
      @include screen-lg(margin, $main-padding 0);
      &__inner {
          max-width: 410px;
          margin-left: auto;
          @include screen-lg(max-width, 590px);
      }
      p:not(:last-child) {
          margin-bottom: 50px;
      }
  }
  &-statistic {
      margin: $main-padding__sm 0;
      @include screen-lg(margin, $main-padding 0);
      &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include screen-md(justify-content, space-between);
      }
      h3 {
          letter-spacing: 3px;
      }
      &__item {
        width: 170px;
        font-family: $base-font-family;
        @include screen-sm(width, 34%);
        @include screen-md(width, 25%);
      }
      &__title {
        font-size: 55px;
        font-weight: 700;
        @include screen-lg(font-size, 84px);
      }
      &__text {
        font-size: 12px;
        margin-top: 15px;
        text-transform: uppercase;
        @include screen-lg(font-size, 18px);
      }
  }
  &-form {
      margin: $main-padding__sm 0;
      @include screen-lg(margin, $main-padding 0);
  }
  &-info {
      margin: $main-padding__sm 0;
      @include screen-lg(margin, $main-padding 0);
      &__item {
      }
  }
}
