//
// Pages -> Service
// ------------------------------------


.advantages {
  .fp-auto-height .fp-tableCell,
  .fp-auto-height {
    height: calc(100vh - 51px) !important;
    @include screen-md(height, calc(100vh - 134px) !important);
    @include screen-lg(height, calc(100vh - 234px) !important);
  }
  h1 {
      font-size: 24px;
      @include screen-md(font-size, 64px);
      @include screen-lg(font-size, 83px);
  }
  h4 {
      letter-spacing: 3px;
      font-size: 20px;
      @include screen-lg(font-size, 28px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    color: #fff;
    padding: $main-padding__xs 50px $main-padding__xs 10px;
    @include screen-md(padding, $main-padding__sm);
    @include screen-lg(padding, $main-padding);
    &--stretch {
        justify-content: center;
        align-items: stretch;
        padding: 80px 10px;
        @include screen-md(padding, $main-padding__sm);
        @include screen-lg(padding, $main-padding);
    }
    .more {
        margin-top: auto;
        i {
            &:before {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-name: slideDownX;
            }
        }
    }
    .more a,
    .more i,
    .breadcrumbs > li + li::before,
    .breadcrumbs > li.active,
    .breadcrumbs > li a {
        color: #fff
    }
  }
  &-bonus {
    padding-bottom: $main-padding__sm;
    @include screen-lg(padding-bottom, $main-padding);

  }
  .service-steps__item {
    @include screen-md(width, 25%);
    @include screen-lg(width, 20%);
  }
}
