//
// Pages -> contacts
// ------------------------------------

.contacts {
  padding: 50px 0 0;
  h1 {
    margin-bottom: 30px;
    @include screen-lg(margin-bottom, 70px);
  }
  &-inner {
    font-family: 'lato-bold';
    text-transform: uppercase;
    p {
      margin-bottom: 20px;
      @include screen-md(margin-bottom, 50px);
    }
  }
  &-map {
    position: relative;
    margin-bottom: 30px;
    @include screen-md(left, -18%);
    @include screen-lg(left, -6%);
  }
  &-form {
    padding: $main-padding__xs 0;
    @include screen-md(padding, $main-padding__sm 0);
    @include screen-lg(padding, $main-padding 0);
  }
}

#map {
  width: 100%;
  height: 200px;
  @include screen-md(height, 390px);
  @include screen-lg(height, 600px);
}