//
// Pages -> Services
// ------------------------------------

.services {
  margin-top: 60px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-top: 30px;
  }
  &-items {
    margin-top: 30px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-top: 50px;
    }
    &__item {
      display: flex;
      justify-content:space-between;
      margin-bottom: 20px;
      align-items: stretch;
      flex-direction: column;
      @media screen and (min-width: $screen-adaptive-nav) {
        flex-direction: row;
        margin-bottom: 50px;
      }
      @media screen and (min-width: $screen-xl-desktop) {
        margin-bottom: 80px;
      }
    }
    &__img {
      width: 100%;
      @media screen and (min-width: $screen-adaptive-nav) {
        width: 50%;
      }
    }
    &__desc {
      width: 100%;
      padding: 20px 25px;
      background-color: #f7f7f7;
      @media screen and (min-width: $screen-adaptive-nav) {
        width: 50%;
        padding: 30px 40px;
      }
      @media screen and (min-width: $screen-xl-desktop) {
        padding: 70px 120px 70px 70px;
      }
    }
    &__title {
      h3 {
        font-size: 18px;
        margin-top: 0;
        letter-spacing: 2px;
        @media screen and (min-width: $screen-desktop) {
          font-size: 27px;
          margin-bottom: 50px;
          letter-spacing: 3px;
        }
      }
    }
    &__text {
      font-size: 13px;
      font-weight: 700;
      p {
        @media screen and (min-width: $screen-adaptive-nav) {
          margin-bottom: 40px;
        }
      }
      @media screen and (min-width: $screen-desktop) {
        font-size: 20px;
      }
    }
  }
}