//
// Pages -> Service
// ------------------------------------


.service {
  &-header {
    margin-top: 30px;
    @include screen-md(margin-top, 60px);
    .first__xs {
        padding: 0;
        @include screen-md(padding, 15px);
    }
    img {
        max-height: 600px;
    }
    h1 {
      line-height: 1;
      margin: 20px auto 60px;
      @include screen-md(margin, auto);
    }
    &__inner {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .more {
      text-transform: uppercase;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      margin-top: auto;
      i {
        font-size: 16px;
        margin-left: 10px;
        &:before {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: slideDownX;
        }
      }
    }
  }
  &-info {
    display: flex;
    padding: $main-padding__sm 0;
    justify-content: space-around;
    flex-wrap: wrap;
    @include screen-lg(padding, $main-padding 0 80px);
    &__item {
      @include screen-md(padding-right, 70px);
      & + & {
        padding-right: 0;
      }
      h4 {
        text-transform: inherit;
        margin-top: 0;
        font-size: 18px;
        @include screen-md(margin-bottom, 60px);
        @include screen-lg(font-size, 24px);
      }
      p {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.6;
        @include screen-md(margin-top, 0);
        @include screen-lg(font-size, 18px);
        @include screen-lg(margin-bottom, 50px);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-material {
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    font-family: 'lato-regular';
    margin: 0 0 $main-padding__sm ;
    @include screen-md(margin, $main-padding__sm 0);
    @include screen-lg(font-size, 24px);
    @include screen-lg(margin, $main-padding);
    &__title {
      color: #fff;
      text-transform: uppercase;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      @include screen-md(width, auto);
      @include screen-md(text-align, left);
      @include screen-md(margin-top, $main-padding__sm);
      @include screen-lg(margin-top, $main-padding);
    }
    &__img {
    //   position: absolute;
      left: 0;
      width: 100%;
      @include screen-md(position, absolute);
      @include screen-md(top, -78px);
      @include screen-md(width, 50%);
      @include screen-lg(width, 47%);
    }
    &__desc {
      width: 100%;
      margin-left: auto;
      padding: 20px 10px;
      background-color: #f4f4f4;
      line-height: 1.7;
      @include screen-md(width, 65%);
      @include screen-md(padding,  $main-padding__sm $main-padding__sm $main-padding__sm 190px);
      @include screen-lg(padding, $main-padding $main-padding $main-padding 250px);
      b {
        font-family: 'lato-bold';
      }
      ul {
        text-transform: uppercase;
        font-size: 10px;
        margin-top: $main-padding__sm;
        @include screen-lg(margin-top, $main-padding);
        li {
            width: 45%;
            @include screen-sm(width, 33%);
            @include screen-md(width, auto);
        }
      }
      p:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    &--out {
      justify-content:space-between;
      .service-material__img {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        @include screen-md(width, 60%);
        @include screen-md(left, -16%);
        @include screen-lg(width, 47%);
        @include screen-lg(left, -6%);
      }
      .service-material__desc {
        width: 98%;
        padding: $main-padding__xs 15px $main-padding__xs $main-padding__xs;
        @include screen-md(padding,  120px $main-padding__sm);
        @include screen-md(width, 65%);
        @include screen-lg(padding, $main-padding);
      }
    }
  }
  &-blockquote {
    display: flex;
    font-size: 14px;
    line-height: 1.9;
    justify-content: flex-end;
    margin: $main-padding__sm 0;
    @include screen-lg(font-size, 18px);
    @include screen-lg(margin, $main-padding 0);
    &__inner {
      max-width: 410px;
      margin-left: auto;
      @include screen-lg(max-width, 590px);
    }
  }
  &-slider {
    position: relative;
    padding-bottom: 80px;
    .slider-arrow {
      left: 0;
      right: 0;
      width: 136px;
      margin:auto;
      top: auto;
      bottom: 90px;
      @include screen-md(width, 314px);
      @include screen-md(bottom, 60px);
      @include screen-lg(bottom, 160px);
    }
  }
  &-process {
    color: rgba(255,255,255,0.5);
    background-color: #101010;
    &__inner {
      padding: $main-padding__xs $main-padding__xs / 4;
      @include screen-md(padding, $main-padding__sm);
      @include screen-lg(padding, $main-padding);
      font-family: 'lato-regular';
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      & + & {
        margin-top: 30px;
        @include screen-md(margin-top, 75px);
      }
    }
    &__title {
      width: 100%;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 40px;
      padding-top: 30px;
      border-top: 1px solid rgba(255,255,255,0.5);
      @include screen-md(width, 40%);
      @include screen-md(padding-top, 0);
      @include screen-md(border-right,1px solid rgba(255,255,255,0.5));
      @include screen-md(border-top, none);
      @include screen-lg(font-size, 24px);
    }
    &__desc {
      width: 100%;
      font-size: 14px;
      @include screen-md(width, 50%);
      @include screen-lg(font-size, 18px);
    }
  }
  &-steps {
    padding: $main-padding__sm 0;
    @include screen-lg(padding, $main-padding 0);
    h3 {
      font-size: 21px;
      margin-top: 0;
      @include screen-lg(font-size, 28px);
    }
    h6 {
        margin-bottom: 0;
    }
    &__inner {
      @extend .is-row;

    }
    &__item {
      @extend .is-col;
      width: 100%;
      @include screen-md(width, 33%);
      @include screen-lg(width, 20%);
    }
    &__num {
      font-family: $base-font-family;
      font-size: 63px;
      font-weight: 700;
      line-height: 1.3;
      @include screen-lg(font-size, 84px);
    }
    &__desc {

    }
  }
  &-other {
    padding: $main-padding__sm 0;
    @include screen-lg(padding, $main-padding 0);
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        @include screen-md(margin-bottom, 50px);
        @include screen-lg(margin-bottom, 70px);
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @include screen-lg(margin-bottom, 70px);
    }
    &__item {
      position: relative;
      display: inline-block;
      text-decoration: none;
      margin: 20px 30px;
      width: 100%;
      @include screen-md(margin, auto);
      @include screen-md(width, 20%);
      &:hover {
          box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.5);
          .service-other__title {

                  transform: scale(1.1);
          }
      }
      & + & {
        // margin-left: 40px;
        @include screen-md(margin-left, 40px);
        @include screen-lg(margin-left, 80px);
      }
    }
    &__img {
        text-align: center;
    }
    &__title {
      color: #ffffff;
      font-family: $base-font-family;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content:center;
      align-items: center;
      @include transition();
      div {
        text-align: center;
        width: 100%;
      }
    }
  }
}
