footer.page-footer
    .container
        .page-footer-inner
            .page-footer__menu.navbar: include ../components/_navbar
            .page-footer__contacts
                .page-footer__contacts--phone
                    a(href="tel:+78123634733") т.: #[span +7 812 363 47 33]
                .page-footer__contacts--link
                    a(href="#") связаться с нами
            .page-footer__copyright
                span= index.footer
            .page-footer__studio разработка сайта: #[a(href="#", traget="_blank") CLoudmill] 
