if title == 'Парфенон'
    header.page-header.page-header--main
        .container
            .page-header-inner
                .page-header__logo
                    a(href="/") Парфенон
                        span мастерская  #[br] натурального #[br] камня
                .page-header__menu.navbar
                    include ../components/_navbar
                .page-header__contacts
                    .page-header__contacts--line.hidden__xs.hidden__sm
                        span
                    .page-header__contacts--phone.hidden__xs.hidden__sm
                        a(href="tel:+78123634733") т.: #[span  +7 812 363 47 33]
                    .page-header__contacts--link.hidden__xs.hidden__sm
                        a.popup(href="#form-id") связаться с нами
                    button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                        .main-nav__burger
                            span.icon-bar &nbsp;
                        .main-nav__txt.hidden__xs меню
                .page-header__search.hidden__xs.hidden__sm
                    a.search--js(href="#") #[i.icon-search]  поиск
else
    header.page-header
        .container
            .page-header-inner
                .page-header__logo
                    a(href="/") Парфенон
                        span мастерская  #[br] натурального #[br] камня
                .page-header__menu.navbar
                    include ../components/_navbar
                .page-header__contacts
                    .page-header__contacts--line.hidden__xs.hidden__sm
                        span
                    .page-header__contacts--phone.hidden__xs.hidden__sm
                        a(href="tel:+78123634733") т.: #[span  +7 812 363 47 33]
                    .page-header__contacts--link.hidden__xs.hidden__sm
                        a.popup(href="#form-id") связаться с нами
                    button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                        .main-nav__burger
                            span.icon-bar &nbsp;
                        .main-nav__txt.hidden__xs меню
                .page-header__search.hidden__xs.hidden__sm
                    a.search--js(href="#") #[i.icon-search]  поиск
                    .search-body
                        .search-close.search-close--js: img(src="images/close-search.png", alt="")
                        .search-inner
                            .is-col__lg-10.is-col__xs-11.centered-block
                                form(action="", method="post")
                                    .is-row
                                        .is-col.is-col__lg-10.is-col__xs-9
                                            input.control(type="search", name="search", placeholder="Введите сюда интересующий вас запрос", required)
                                        .is-col.is-col__lg-2.is-col__xs-3
                                            button.btn.btn--outlined.btn--full(type="submit") найти
