main.page-main
    section.about
        .container
            include ../components/_breadcrumbs
            .about-title
                .is-row.between__xs
                    .is-col.is-col__md-5.is-col__xs-12
                        h1.title  О компании
                    .is-col.is-col__md-7.is-col__xs-12
                        p Мы охватываем действительно широкий спектр работ с натуральным камнем, делаем практически всё. #[br] У нашей компании большой опыт работ, мы участвовали в реставрации дворца Тенишевой на Английской набережной, полностью вели проект по работам с камнем в офисной части Парадного Квартала, работали на многих других известных объектах Санкт-Петербурга. Работаем с частными домами и апартаментами.            .about-main
                .about-main__inner
                    .about-main__item.is-col__lg-6.is-col__md-7.is-col__xs-12
                        img(src="images/about.jpg", alt="")  
                    .about-main__item.about-main__item--txt.is-col__lg-7.is-col__md-6.is-col__xs-12
                        blockquote
                            p Наша компания расположена в Санкт-Петербурге, офис находится на ул. Графтио, д. 3. Работаем с натуральным камнем с 2001 года.
                            p Наше преимущество — широкий спектр изделий из натурального камня, которые мы можем предложить. У нас нет узкой специализации, например, только камины и фасонные изделия, или только мозаика или только облицовочные изделия.
                            p
                                .name Олег Иванов 
                                .post генеральный директор
            .about-history
                h4 история #[br] компании
                .about-history__slider
                    .history-carousel
                        - for (var x = 1; x < 4; x++)
                            .about-history__slider__item
                                .about-history__slider-num 2001
                                .about-history__slider-year год основания
                                .about-history__slider-desc Наше преимущество — широкий спектр изделий из натурального камня, которые мы можем предложить. У нас нет узкой специализации, например, только камины и фасонные изделия, или только мозаика или только облицовочные изделия.
                            .about-history__slider__item
                                .about-history__slider-num 2007
                                .about-history__slider-year собственное производство
                                .about-history__slider-desc Наше преимущество — широкий спектр изделий из натурального камня, которые мы можем предложить. У нас нет узкой специализации, например, только камины и фасонные изделия, или только мозаика или только облицовочные изделия.
                            .about-history__slider__item
                                .about-history__slider-num 2011
                                .about-history__slider-year расширение штата
                                .about-history__slider-desc Наше преимущество — широкий спектр изделий из натурального камня, которые мы можем предложить. У нас нет узкой специализации, например, только камины и фасонные изделия, или только мозаика или только облицовочные изделия.
                            .about-history__slider__item
                                .about-history__slider-num 2015
                                .about-history__slider-year год основания
                                .about-history__slider-desc Наше преимущество — широкий спектр изделий из натурального камня, которые мы можем предложить. У нас нет узкой специализации, например, только камины и фасонные изделия, или только мозаика или только облицовочные изделия.
                    .slider-arrow
                        .slider-arrow-left
                        .slider-arrow-right
            .about-opportunities
                .about-opportunities__desc.is-col__md-7.is-col__xs-12
                    h2 возможности
                        small Наша копания обладает огромными ресурсами для проведения отделочных работ
                    p.text__lg У нашей компании большой опыт работ, мы участвовали в реставрации дворца Тенишевой на Английской набережной, полностью вели проект по работам с камнем в офисной части Парадного Квартала, работали на многих других известных объектах Санкт-Петербурга. 
                    ul.list--bullet
                        li Увидеть примеры готовой продукции 
                        li Работаем с частными домами 
                        li Увидеть примеры готовой продукции 
                        li Работаем с частными домами
                        li Увидеть примеры готовой продукции 
                        li Увидеть примеры готовой продукции 
                        li Работаем с частными домами 
                        li Увидеть примеры готовой продукции 
                .about-opportunities__img.is-col__md-6
                    img(src="images/about-2.jpg", alt="")
            .about-blockquote
                .is-col__lg-10.is-col__md-10.centered-block
                    .about-blockquote__inner
                        p Наши специалисты, которые занимаются изготовлением каминов и каминных порталов из натурального камня уже почти 15 лет, отмечают, что именно этот материал наилучшим образом сохранит тепло в доме, создаст в помещении особую, неповторимую атмосферу. Он долговечен, не требует особенного ухода, его поверхность отличается исключительной стойкостью к царапинам. К тому же, никто не станет спорить с тем, что камин с отделкой камнем смотрится просто роскошно – такие модели всегда относились к категории элитных.
                        p Наши специалисты, которые занимаются изготовлением каминов и каминных порталов из натурального камня уже почти 15 лет, отмечают, что именно этот материал наилучшим образом сохранит тепло в доме, создаст в помещении особую, неповторимую атмосферу. 
            .about-statistic
                .text--center
                    h3 компания в цифрах
                .about-statistic__inner
                    .about-statistic__item
                        .about-statistic__title 16 
                        .about-statistic__text лет
                    .about-statistic__item
                        .about-statistic__title 235234 
                        .about-statistic__text м#[sup 2]проделанных работ
                    .about-statistic__item
                        .about-statistic__title 53 
                        .about-statistic__text квалифицированных #[br] специалистов
                    .about-statistic__item
                        .about-statistic__title 120 
                        .about-statistic__text постоянных клиентов.
            .about-form
                include ../components/_tabs-form
            .about-info
                .is-col__lg-10.centered-block
                    .is-row
                        .about-info__item.is-col.is-col__md-6.is-col__xs-12
                            img(src="images/about-3.jpg", alt="")
                            h3 преимущества сотрудничества для потребителей
                        .about-info__item.is-col.is-col__md-6.is-col__xs-12
                            img(src="images/about-4.jpg", alt="")
                            h3 преимущества сотрудничества для потребителей
                
                    
