main.page-main
    section.advantages
        #fullpage
            .section.fp-auto-height(style="background:url('images/fullpage-1.jpg') no-repeat center / cover")
                .advantages__item.advantages__item--stretch
                    include ../components/_breadcrumbs
                    h1.title Преимущества для #[br] профессионалов
                    .more.anchor
                        a(href="#advant") крутите вниз #[i.icon-down-open]
            #advant.section(style="background:url('images/fullpage-2.jpg') no-repeat center / cover")
                .advantages__item
                    h4 1. Встреча в офисе или на объекте
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом соответствии #[br] с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-3.jpg') no-repeat center / cover")
                .advantages__item
                    h4 2.	Обсуждение проекта
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом  #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-4.jpg') no-repeat center / cover")
                .advantages__item
                    h4 3. Помощь в визуализации ваших идей #[br] (изготовление эскиза, макета)
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом соответствии с заранее  #[br] подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-5.jpg') no-repeat center / cover")
                .advantages__item
                    h4 4.	Выезд специалистов на объект
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом  #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-6.jpg') no-repeat center / cover")
                .advantages__item
                    h4 5.	Выбор материалов
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом  #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-7.jpg') no-repeat center / cover")
                .advantages__item
                    h4 6.	Подготовка документации
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-8.jpg') no-repeat center / cover")
                .advantages__item
                    h4 7.	Подписание договора. Оплата. 
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-9.jpg') no-repeat center / cover")
                .advantages__item
                    h4 8.	Изготовление
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом #[br] соответствии с заранее подготовленными, оговоренными эскизами.
            .section(style="background:url('images/fullpage-10.jpg') no-repeat center / cover")
                .advantages__item
                    h4 9.	 Монтаж
                    p.text__lg Процесс изготовления каминов из камня происходит в строгом #[br] соответствии с заранее подготовленными, оговоренными эскизами.   
            .section.fp-normal-scroll 
                .container
                    .service-steps
                        .is-col__xl-10.is-col__md-10.is-col__xs-8.centered-block
                            .text--center
                                h4 Преимущества
                            .service-steps__inner
                                .service-steps__item
                                    .service-steps__num 1
                                    .service-steps__desc
                                        h5 Говорим на одном языке
                                .service-steps__item
                                    .service-steps__num 2
                                    .service-steps__desc
                                        h5 подготовка документации, согласование визуализации с заказчиком 
                                .service-steps__item
                                    .service-steps__num 3
                                    .service-steps__desc
                                        h5 Бонусная система 
                                .service-steps__item
                                    .service-steps__num 4
                                    .service-steps__desc
                                        h5 15 лет успешной работы
                                .service-steps__item
                                    .service-steps__num 5
                                    .service-steps__desc
                                        h5 Собственное производство  
                                .service-steps__item
                                    .service-steps__num 6
                                    .service-steps__desc
                                        h5 Гибкая ценовая политика 
                                .service-steps__item
                                    .service-steps__num 7
                                    .service-steps__desc
                                        h5 Гарантия на изделие и свою работы
                    .is-col__xl-10.centered-block
                        .advantages-bonus
                            .is-row.end__xs
                                .is-col.is-col__xl-4.is-col__lg-5.is-col__md-6
                                    img(src="images/advantages.jpg", alt="")
                                    h4 преимущества сотрудничества для потребителей
