main.page-main
    section.contacts
        .container
            include ../components/_breadcrumbs
            h1.title= title
            .contacts-inner
                .is-row.middle__xs.between__xs
                    .is-col.is-col__lg-7.is-col__md-8.is-col__xs-12.contacts-map
                        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
                        #map
                    .is-col.is-col__md-4.is-col__xs-12
                        p.text__lg Россия, г. Санкт-петербург, #[br] ул. Графтио д.3
                        p.text__sm часы работы: #[br] пн-пт с 1000 до 1900
            .contacts-form
                include ../components/_tabs-form