main.page-main
    section
        .container.relative
            .slider-dotsm
        .slick-slider
            - for (var x = 1; x < 6; x++)
                .main-slider(style="background: url('images/slider/slide-1.jpg') no-repeat center top / cover;")
                    .container
                        .slider-inner
                            .slider-inner__title.animated.slideDown
                                h1 Лучшее #[br] для Вашего #[br] интерьера
                                a.btn.btn--primary(href="#") Подробнее
                            .slider-inner__info.animated.fadeIn.hidden__sm.hidden__xs
                                .slider-inner__line
                                .slider-inner__desc
                                    span Мы не хотим перегружать вас долгим просмотром фотографий, проще приехать к нам в офис
                                .slider-inner__list
                                    .slider-inner__list-item
                                        .title объём работ:
                                        .desc 90
                                            span м#[sup 2]
                                    .slider-inner__list-item
                                        .title время работы:
                                        .desc 120
                                            span часов
                                    .slider-inner__list-item
                                        .title Материал:
                                        .desc.desc--sm Мрамор
                            .slider-inner__forwhat.animated.slideUp
                                .slider-inner__container
                                    .slider-inner__txt Преимущества
                                    .slider-inner__line--sm
                                    .slider-inner__title--sm
                                        h5 Для #[br] Архитекторов #[br] Дизайнеров
                            .slider-name Загородный дом #[br] с камином
                            .slider-more.anchor.animated.slideUp
                                a(href="#catalog") крутите вниз #[i.icon-down-open]
    section#catalog.main-catalog
        .container
            .is-col__xlg-11.is-center
               .catalog-items
                  .catalog-items__col
                     .text--right
                       h2.catalog-title Мы делаем
                     .catalog-item
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Мозаика
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-1.jpg", alt="alt")
                     .catalog-item
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Стены и полы
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-4.jpg", alt="alt")
                     .catalog-item.catalog-item--md
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Ванные комнаты
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-7.jpg", alt="alt")               
                     .catalog-item.catalog-item--md
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Малые архитектурные формы
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-9.jpg", alt="alt")               
                     .catalog-item
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Столешницы
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-10.jpg", alt="alt")               
                         .catalog-item-sub
                             .catalog-item__title
                                 h5: a(href="#") Подоконники
                             .catalog-item__img
                                 a(href="#"): img(src="images/catalog/product-11.jpg", alt="alt")               
                  .catalog-items__col
                     .catalog-item.catalog-item--end
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Камины и каминные порталы
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-2.jpg", alt="alt")
                     .catalog-item.catalog-item--end
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Бассейны и хамамы
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-3.jpg", alt="alt")
                     .catalog-item.catalog-item--end
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Лестницы
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-5.jpg", alt="alt")
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Отделка кухни
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-6.jpg", alt="alt")
                     .catalog-item.catalog-item--end
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Фасады зданий
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-8.jpg", alt="alt")
                     .catalog-item.catalog-item--end
                         .catalog-item-sub
                            .catalog-item__title
                                h5: a(href="#") Беседки из камня
                            .catalog-item__img
                                a(href="#"): img(src="images/catalog/product-12.jpg", alt="alt")
                     .catalog-item.catalog-item--center
                         .catalog-item-sub
                            form.sendmail(action="" method="method")
                                h2 Свяжитесь с нами
                                    small Для заказа наших услуг и прочих вопросов,заполните заявку и мы с Вами свяжемся
                                .form__group
                                    label ваше Имя:
                                    input.control(type="text", placeholder="Олег", name="name",  required)
                                .form__group
                                    label ваш телефон:
                                    input.control(type="text", placeholder="+7(___) ___-__-__", name="phone",  required)
                                .form__group
                                    label ваша почта:
                                    input.control(type="email", name="email", placeholder="Info@mail.ru",  required)
                                .form__group
                                    textarea.control(name="text", placeholder="Доп. информация", required)
                                .form__group
                                    button.btn.btn--outlined(type="submit") Отправить
    section
        .container.relative
            .slider-arrow
                .slider-arrow-left
                .slider-arrow-right
            .slider-dots
        .slick-slider-cat
            - for (var x = 1; x < 6; x++)
                .catalog-slider
                    .container
                        .is-col__xlg-11.is-center
                            .catalog-slider-inner
                                .catalog-slider-inner__category Облицовка #[br] натуральным #[br] камнем
                                    .catalog-slider-inner__line
                                .catalog-slider-inner__desc
                                    .catalog-slider-inner__img
                                        img(src="images/catalog/product-13.jpg", alt="alt")
                                        .catalog-slider-inner__mat
                                            img(src="images/catalog/material-1.jpg", alt="alt")
                                    .catalog-slider-inner__info
                                        .catalog-slider-inner__title
                                            h3 Натуральный облицовочный камень
                                        .catalog-slider-inner__txt
                                            p.text__lg Натуральный облицовочный камень – это природный, экологичный строительный материал. Он отвечает самым высоким запросам и широко используется в отделке и фасадов, и интерьеров.
