main.page-main
    section.portfolio
        .container
            .text--center
                include ../components/_breadcrumbs
                h1.title Портфолио
            .is-col__xlg-11.is-center
                .catalog-items
                    .catalog-items__col
                        .catalog-item
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Мозаика
                                .catalog-item__img
                                    img(src="images/catalog/product-1.jpg", alt="alt")
                        .catalog-item
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Стены и полы
                                .catalog-item__img
                                    img(src="images/catalog/product-4.jpg", alt="alt")
                        .catalog-item.catalog-item--md
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Ванные комнаты
                                .catalog-item__img
                                    img(src="images/catalog/product-7.jpg", alt="alt")
                        .catalog-item.catalog-item--md
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Малые архитектурные формы
                                .catalog-item__img
                                    img(src="images/catalog/product-9.jpg", alt="alt")
                        .catalog-item
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Столешницы
                                .catalog-item__img
                                    img(src="images/catalog/product-10.jpg", alt="alt")
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Подоконники
                                .catalog-item__img
                                    img(src="images/catalog/product-11.jpg", alt="alt")
                    .catalog-items__col
                        .catalog-item.catalog-item--end
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Камины и каминные порталы
                                .catalog-item__img
                                    img(src="images/catalog/product-2.jpg", alt="alt")
                        .catalog-item.catalog-item--end
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Бассейны и хамамы
                                .catalog-item__img
                                    img(src="images/catalog/product-3.jpg", alt="alt")
                        .catalog-item.catalog-item--end
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Лестницы
                                .catalog-item__img
                                    img(src="images/catalog/product-5.jpg", alt="alt")
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Отделка кухни
                                .catalog-item__img
                                    img(src="images/catalog/product-6.jpg", alt="alt")
                        .catalog-item.catalog-item--end
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Фасады зданий
                                .catalog-item__img
                                    img(src="images/catalog/product-8.jpg", alt="alt")
                        .catalog-item.catalog-item--end
                            a.popup(href="#case").catalog-item-sub
                                .catalog-item__title
                                    h5 Беседки из камня
                                .catalog-item__img
                                    img(src="images/catalog/product-12.jpg", alt="alt")
