main.page-main
    section.service
        .container
            .service-header
                .is-row.between__xs.stretch__xs
                    .is-col.is-col__lg-5.is-col__md-4.is-col__xs-12
                        .service-header__inner
                            include ../components/_breadcrumbs
                            h1.title Камины и каминные порталы
                            .more.anchor
                                a(href="#service") крутите вниз #[i.icon-down-open]
                    .is-col.is-col__lg-7.is-col__md-8.is-col__xs-12.last__md.first__xs
                        img(src="images/service-1.jpg", alt="")
            .is-col__xl-9.is-col__lg-10.is-col__md-11.centered-block
                #service.service-info
                    .service-info__item.is-col__md-5.is-col__xs-12
                        h4 Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.
                        a.btn.btn--primary(href="#") Заказать услугу
                    .service-info__item.is-col__md-6.is-col__xs-12
                        p Декоративный каминный портал представляет собой не весь цельный камин, как изделие, а только облицовку самой топки различными материалами. Делаем и такие — обращайтесь!
                        p Существует множество стилей каминных порталов, которые отличаются по внешнему виду и вариациям декора: они могут быть выполнены в классическом стиле или в соответствии с последними тенденциями моды, быть украшены лепными или кованными элементами и т.д.
                        p Производство каминов – процесс очень сложный и ответственный, доверить его можно только опытным профессионалам. Наша компания занимается изготовлением каминов от начала и до конца, включая разработку дизайна и технической документации, установку и монтаж каминов и каминных порталов. Обращайтесь!
            .service-material.service-material--out
                .service-material__img
                    img(src="images/service-2.jpg", alt="")
                .service-material__title из какого камня #[br] изготовить
                .service-material__desc
                    p Для оформления портала камина камень может использоваться самый разный: #[b мрамор, гранит, оникс, базальт или травертин.] Наиболее интересно в художественном плане смотрятся камины из мрамора и гранита. Оникс используется относительно редко из-за его дороговизны, однако этому камню приписывают лечебные свойства.
                    ul.list--inline
                        li
                            img(src="images/material-1.jpg", alt="")
                            p мрамор
                        li
                            img(src="images/material-2.jpg", alt="")
                            p гранит
                        li
                            img(src="images/material-3.jpg", alt="")
                            p оникс
            .service-blockquote
                .is-col__lg-8.is-col__md-10.centered-block
                    .service-blockquote__inner
                        p Наши специалисты, которые занимаются изготовлением каминов и каминных порталов из натурального камня уже почти 15 лет, отмечают, что именно этот материал наилучшим образом сохранит тепло в доме, создаст в помещении особую, неповторимую атмосферу. Он долговечен, не требует особенного ухода, его поверхность отличается исключительной стойкостью к царапинам. К тому же, никто не станет спорить с тем, что камин с отделкой камнем смотрится просто роскошно – такие модели всегда относились к категории элитных.
    .service-slider
        .slider-arrow
            .slider-arrow-left
            .slider-arrow-right
        .carousel
            img(src="images/service-3.jpg", alt="")
            img(src="images/service-3.jpg", alt="")
            img(src="images/service-3.jpg", alt="")
            img(src="images/service-3.jpg", alt="")
    section.service
        .container
            .service-material
                .service-material__img
                    img.hidden__xs.hidden__sm.hidden__md(src="images/service-4.jpg", alt="")
                    img.visible__xs.visible__sm.visible__md(src="images/service-4-m.jpg", alt="")
                .service-material__desc
                    p Прежде чем покупать камин или каминный портал в СПб, можно «вживую» ознакомиться с материалами – сделать это можно в нашем офисе на  #[a(href="#") ул. Графтио, д. 3,] где всегда есть в наличии образцы камня.
                    p: i Здесь же вы сможете увидеть и примеры наших работ, разработанные варианты дизайнов, интересные решения.
    section.service.service-process
        .container
            .is-col__xl-10.is-col__md-11.centered-block
                .service-process__inner
                    .service-process__item
                        .service-process__title Процесс #[br] изготовления
                        .service-process__desc
                            p Процесс изготовления каминов из камня происходит в строгом соответствии с заранее подготовленными, оговоренными эскизами. Наши специалисты разработают для вас оригинальные варианты дизайна каминных порталов в которых постараются учесть все ваши требования и пожелания. Вы можете быть уверены, что мы сможем воплотить любые, даже самые сложные и необычные инженерные решения!
                            p Наша компания предлагает производство и монтаж каминов разных видов, мы изготавливаем как встроенные, так и пристроенные порталы, угловые и центральные, односторонние или двусторонние варианты и т.д. Выбор за вами, но вы можете быть полностью уверены, что любое изделие будет прекрасно смотреться в вашем интерьере и прослужит максимально долго.
                    .service-process__item
                        .service-process__title Установка и #[br] монтаж
                        .service-process__desc
                            p Установка и монтаж каминов и каминных порталов может проводиться по отдельности, в разное время, в некоторых случаях возможен выбор готовых порталов, которые просто устанавливаются по сторонам от топки. Самостоятельно разобраться во всем многообразии существующих вариантов нелегко, поэтому наши сотрудники с удовольствием помогут вам сделать выбор.
                            p В производстве каминов камень используется уже не одну сотню лет. Они дарили тепло и уют обитателям старинных замков и продолжают радовать нас своей красотой и эксклюзивностью.
    section.service
        .container
            .service-steps
                .text--center
                    h3 процесс работы
                .is-col__xl-12.is-col__md-10.is-col__xs-8.centered-block
                    .service-steps__inner
                        .service-steps__item
                            .service-steps__num 1
                            .service-steps__desc
                                h6 Согласование
                                p Встреча в офисе или на объекте, выбор материалов, подписание договора.
                        .service-steps__item
                            .service-steps__num 2
                            .service-steps__desc
                                h6 ЗАМЕР
                                p Выезд специалистов на объект. Производство замеров на объекте, оценка технической возможности устройства камина.
                        .service-steps__item
                            .service-steps__num 3
                            .service-steps__desc
                                h6 Подготовка документации
                                p Подготовка проектной и эскизной документации, согласование визуализации с заказчико
                        .service-steps__item
                            .service-steps__num 4
                            .service-steps__desc
                                h6 Изготовление
                                p Изготовление изделий по техническому заданию.
                        .service-steps__item
                            .service-steps__num 5
                            .service-steps__desc
                                h6 Монтаж
                                p Доставка изделий на объект, монтаж, сдача работ.
            .service-form
                include ../components/_tabs-form
            .service-other
                h3 Другие услуги
                .service-other__inner
                    a.service-other__item(href="#")
                        .service-other__img: img(src="images/service-01.jpg", alt="")
                        .service-other__title: div Мозаика
                    a.service-other__item(href="#")
                        .service-other__img: img(src="images/service-02.jpg", alt="")
                        .service-other__title: div Бассейны #[br] и хамамы
                    a.service-other__item(href="#")
                        .service-other__img: img(src="images/service-03.jpg", alt="")
                        .service-other__title: div Стены и полы
                    a.service-other__item(href="#")
                        .service-other__img: img(src="images/service-04.jpg", alt="")
                        .service-other__title: div Фасады зданий
                .text--center
                    a.btn.btn--outlined(href="#") все услуги
