main.page-main
    section.services
        .container
            .text--center
                include ../components/_breadcrumbs
                h1.title Наши услуги
            .services-items
                +services('images/services-1.jpg', 'Мозаика из натурального камня', 'Мы делаем мозаику фоновую и художественную, особенно сильны в художественной мозаике, всегда в наличии много готовых ковров.')
                +services('images/services-2.jpg', 'Камины и каминные порталы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-3.jpg', 'Бассейны и хамамы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-4.jpg', 'стены и полы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-5.jpg', 'лестницы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-6.jpg', 'Отделка кухни', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-7.jpg', 'ванные комнаты', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-8.jpg', 'фасады зданий', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-9.jpg', 'малые архитектурные формы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-10.jpg', 'беседки из камня', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-11.jpg', 'столешницы', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')
                +services('images/services-12.jpg', 'подоконники', 'Мастерская натурального камня «Парфенон» — делаем не только облицовку, но и камины под ключ. Есть опыт в изготовлении и монтаже каминов большого размера. У нас примерно 20 каминов и каминных порталов всегда есть в наличии, что для компаний этого профиля редкость.')