extends layouts/_default

block title
    title Парфенон
    - var title = 'Преимущества'
 
block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_advantages

block siteFooter
    include partials/_footer
