extends layouts/_default

block title
    title Парфенон
    - var title = 'Парфенон' 
 
block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_index 

block siteFooter
    include partials/_footer
